service firebase.storage {
  match /b/chicago-roboto.appspot.com/o {
  	match /chicagoroboto-2019/profiles/{profileId} {
    	allow read: if true;
    	allow write: if request.resource.contentType.matches('image/.*');
    }
    match /{allPaths=**} {
      allow read, write: if request.auth != null;
    }
  }
}
