/* Material UI Stylings */
.md-inline-panel {max-width: 960px; margin: auto;}
.md-dialog-content {min-width: 680px;}

/* Crop Dialog Styling */
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}
.cropResult {
  display: block;
  margin: auto;
  border-radius: 150px;
}

#speaker-image {
  border-radius: 100px;
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin-right: 16px;
}
#admin-toolbar {
  height: 96px;
  min-height: 96px;
  max-height: 96px;
}
.profile-image {
  border-radius: 32px;
  margin-right: 16px;
}
.score-container {
  min-width: 64px;
  min-height: 64px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 16px;
  background: #9A9A9A;
}
.score-container h2 {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.review-done {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
