/* Material UI Stylings */
.md-inline-panel {max-width: 960px; margin: auto;}
.md-dialog-content {min-width: 680px;}

/* Crop Dialog Styling */
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}
.cropResult {
  display: block;
  margin: auto;
  border-radius: 150px;
}

#speaker-image {
  border-radius: 100px;
  min-width: 200px;
  min-height: 200px;
  width: 200px;
  height: 200px;
  margin-right: 16px;
}
.sidenav-banner {
  height: 240px;
}
.sidenav-logo {
  max-width: 240px;
  margin: auto;
}
.profile-image {
  border-radius: 32px;
  margin-right: 16px;
}
.score-container-small {
  min-width: 36px;
  min-height: 36px;
  width: 36px;
  height: 36px;
  border-radius: 18px;
  margin-right: 9px;
  background: #9A9A9A;
}
.score-container-small h2 {
  text-align: center;
  font-size: 18px;
  line-height: 9px;
  color: #FFFFFF;
}
.score-container {
  min-width: 64px;
  min-height: 64px;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-right: 16px;
  background: #9A9A9A;
}
.score-container h2 {
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  color: #FFFFFF;
}
.feedback-item {
  min-width: 24px;
  min-height: 24px;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  margin: 2px 8px;
  background: #9A9A9A;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  color: #FFFFFF;
}
.review-done {
  font-size: 32px;
  width: 32px;
  height: 32px;
}
