/* Material UI Stylings */
.md-inline-panel {max-width: 960px; margin: auto;}
.md-dialog-content {min-width: 680px;}

/* Crop Dialog Styling */
.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:300px;
}
.cropResult {
  display: block;
  margin: auto;
  border-radius: 150px;
}

#speaker-image {
  border-radius: 100px;
}
