<md-dialog aria-label="Talk Submission">
  <form ng-cloak name="entryForm" ng-submit="save(entry)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Talk Submission</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <input required name="entryTitle" ng-model="entry.title" />
        </md-input-container>
        <md-input-container class="md-block" layout-align="start" flex-gt-sm>
          <label>Duration (minutes)</label>
          <md-select required name="entryDuration" ng-model="entry.duration">
            <md-option ng-repeat="option in config.session_durations" ng-value="option">
              {{option}} minutes
            </md-option>
          </md-select>
        </md-input-container>
        <md-checkbox ng-model="entry.multiSpeaker" aria-label="Co-presenter">
          I am giving this talk with someone else
        </md-checkbox>
        <md-input-container class="md-block" ng-show="entry.multiSpeaker" flex-gt-sm>
          <label>Name(s) of Other Presenter(s)</label>
          <input name="entryOthers" ng-model="entry.others"/>
        </md-input-container>
        <p>
          Enter an abstract description of your talk. This will be visible to
          reviewers and publicly on the conference site if your talk is
          selected.
        </p>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Abstract</label>
          <textarea required name="entryAbstract"
                    ng-model="entry.abstract"
                    md-maxlength="1200" rows="4" md-select-on-focus>
          </textarea>
        </md-input-container>
        <p>
          Please enter any additional information you would like to provide the
          organizers about you or your talk (links to previous talks, etc.).
          This content will not be shown publicly or to reviewers.
        </p>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Additional Notes</label>
          <textarea name="entryNotes"
                    ng-model="entry.notes"
                    md-maxlength="1200" rows="4" md-select-on-focus>
          </textarea>
        </md-input-container>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">Cancel</md-button>
      <md-button type="submit">Submit</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
