<md-dialog aria-label="Talk Feedback">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Session Feedback</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close"
                 ng-click="close()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <h3>{{ submission.title }}</h3>
      <div layout="row" layout-align="space-around center">
        <div class="score-container">
          <h2>{{getOverallAvg(feedback) | number:1}}</h2>
        </div>
        <div class="score-container">
          <h2>{{getTechnicalAvg(feedback) | number:1}}</h2>
        </div>
        <div class="score-container">
          <h2>{{getSpeakerAvg(feedback) | number:1}}</h2>
        </div>
      </div>
      <table>
        <tr>
          <th layout-padding>Overall Experience</th>
          <th layout-padding>Technical Level</th>
          <th layout-padding>Speaker Skills</th>
          <th layout-padding>Comments</th>
        </tr>
        <tr ng-class-odd="'feedback-row'" ng-repeat="(uid, item) in feedback">
          <td>{{item.overall | number:1}}</td>
          <td>{{item.technical | number:1}}</td>
          <td>{{item.speaker | number:1}}</td>
          <td>{{item.comment }}</td>
        </tr>
      </table>
    </div>
  </md-dialog-content>
</md-dialog>
