<md-dialog aria-label="Talk Feedback">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Session Feedback</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close"
                 ng-click="close()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>
    <div class="md-dialog-content">
      <h3>{{ submission.title }}</h3>
      <div layout="row" layout-align="space-around center">
        <div class="score-container">
          <h2>{{getOverallAvg(feedback) | number:1}}</h2>
        </div>
        <div class="score-container">
          <h2>{{getTechnicalAvg(feedback) | number:1}}</h2>
        </div>
        <div class="score-container">
          <h2>{{getSpeakerAvg(feedback) | number:1}}</h2>
        </div>
      </div>
      <div layout="row">
        <h4 style="text-align: center" flex>Overall Experience</h4>
        <h4 style="text-align: center" flex>Technical Level</h4>
        <h4 style="text-align: center" flex>Speaker Skills</h4>
      </div>
      <div ng-repeat="(uid, item) in feedback" ng-class-odd="'feedback-row'" layout="row">
        <p style="text-align: center" flex>{{item.overall | number:1}}</p>
        <p style="text-align: center" flex>{{item.technical | number:1}}</p>
        <p style="text-align: center" flex>{{item.speaker | number:1}}</p>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
