<md-dialog aria-label="Event Config">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Event Config</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close"
                   ng-click="close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout="row">
          <p flex>Call For Papers Open</p>
          <md-switch class="md-secondary" aria-label="Review Enable"
                     ng-model="config.cfp_open"
                     ng-change="onConfigItemChanged()"></md-switch>
        </div>
        <div layout="row">
          <p flex>Session Reviews Open</p>
          <md-switch class="md-secondary" aria-label="Review Enable"
                     ng-model="config.review_open"
                     ng-change="onConfigItemChanged()"></md-switch>
        </div>
        <div layout="row">
          <p flex>Session Feedback Visible</p>
          <md-switch class="md-secondary" aria-label="Feedback Enable"
                     ng-model="config.show_feedback"
                     ng-change="onConfigItemChanged()"></md-switch>
        </div>
        <md-divider></md-divider>
        <h4>Venue Info</h4>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="venue.name" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Phone</label>
          <input ng-model="venue.phone" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Address</label>
          <textarea rows="2" ng-model="venue.address"></textarea>
        </md-input-container>

        <h4>Session Rooms</h4>
        <md-chips ng-model="venue.rooms"
                  placeholder="Enter a session room"
                  secondary-placeholder="New room"
                  md-separator-keys="seperatorKeys"></md-chips>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="save()">Save</md-button>
    </md-dialog-actions>

</md-dialog>
