<md-dialog aria-label="Select Session">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Choose a Session</h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Close"
                 ng-click="cancel()">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content>

    <div class="md-dialog-content">
      <md-list>
        <md-list-item class="md-2-line" layout-align="center center"
                      ng-repeat="item in sessions"
                      ng-click="selectItem(item)">
          <div class="md-list-item-text" layout="column">
            <h3>{{ item.title }}</h3>
            <p>{{ profiles.$getRecord(item.speaker_id).name }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>

  </md-dialog-content>

</md-dialog>
