<md-dialog aria-label="Talk Submission">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Talk Submission</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close"
                   ng-click="close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h3>{{ entry.title }}</h3>
        <h4>{{ speaker.name }}</h4>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Abstract</label>
          <textarea ng-model="entry.abstract"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Organizer Notes</label>
          <textarea ng-model="entry.notes"></textarea>
        </md-input-container>
        <div ng-show="entry.comments">
          <h4>Comments</h4>
          <ul>
            <li ng-repeat="comment in entry.comments">{{ comment }}</li>
          </ul>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="save(entry)">Save</md-button>
    </md-dialog-actions>

</md-dialog>
