<md-dialog aria-label="Talk Submission">
  <form ng-cloak name="submissionForm" ng-submit="save(entry)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Talk Submission</h2>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Close"
                   ng-click="close()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block">
          <label>Speaker</label>
          <md-select required ng-model="entry.speaker_id">
            <md-option ng-repeat="profile in speakers" ng-value="profile.$id">
              {{profile.name}}
            </md-option>
          </md-select>
        </md-input-container>

        <h4>Session Info</h4>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Title</label>
          <textarea required ng-model="entry.title"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Duration (minutes)</label>
          <input required name="entryDuration" ng-model="entry.duration" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Other Presenters</label>
          <input name="entryOthers" ng-model="entry.others" />
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Abstract</label>
          <textarea required ng-model="entry.abstract"></textarea>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Organizer Notes</label>
          <textarea ng-model="entry.notes"></textarea>
        </md-input-container>

        <div ng-show="entry.scores">
          <h4>Reviewer Votes</h4>
          <div layout="row">
            <div ng-repeat="score in entry.scores" class="score-container-small">
              <h2>{{score | number:0}}</h2>
            </div>
          </div>
        </div>

        <div ng-show="entry.comments">
          <h4>Comments</h4>
          <ul>
            <li ng-repeat="comment in entry.comments">{{ comment }}</li>
          </ul>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit">Save</md-button>
    </md-dialog-actions>

</md-dialog>
